body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    justify-content: center;
    margin: auto;
}

.cell {
    width: 100px;
    height: 100px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid #ddd;
}

.cell.taken {
    cursor: not-allowed;
}

.message {
    margin-top: 20px;
    font-size: 1.2rem;
}

.reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.twoPlayer {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ff1900;
    color: white;
    border: none;
    border-radius: 5px;
}

.twoPlayer.active {
    background-color: #cc1500; /* Slightly darker red */
}

.reset:hover {
    background-color: #0056b3;
}